{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎注册--百联</title>
    <link href="{% static 'css/reset.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'css/regist.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/jquery-1.12.3.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/gVerify.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<div class="top ">
    <a href="http://www.bl.com/?bl_mmc=blemall_-_0_-_0_-_0"><img src="{% static 'images/logo.png' %}"
                                                                 style="width: 159px;"/></a>
    <img src="{% static 'images/yonghu.png' %}" style="width: 127px;"/>
</div>
<br>
<br>
<div class="box main">
    <div class="box_p">
        <a style="color: red;">您好，感谢您加入i百联</a>
        <div class="right-a">
            <a>如有账号，请 </a>
            <a href="login.html" style="color:blue !important">登录</a>
        </div>
    </div>
    <div class="register">
        <form action="{% url 'bl:register' %}" method="post" id="register-view">
            {% csrf_token %}
            {#            user#}
            <div class="form-group has-feedback" id="name">
                <input type="text" class="form-control" aria-describedby="inputSuccess2Status" placeholder="用户名"
                       name="name">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <p class="text"></p>
            </div>
            {#             密码#}
            <div class="form-group has-feedback" id="password">
                <input type="password" class="form-control" aria-describedby="inputSuccess2Status" placeholder="密码"
                       name="password">
                <span class="glyphicon  form-control-feedback" aria-hidden="true"></span>
                <p class="help">
                    格式：长度为6~12，且只能为数字、字母、下划线
                </p>
            </div>

            {#            密码第二次#}
            <div class="form-group has-feedback" id="password-d">
                <input type="password" class="form-control" aria-describedby="inputSuccess2Status" placeholder="密码">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <p class="help">
                    格式：两次密码输入要保持一致!
                </p>
            </div>
            {#            手机#}
            <div class="form-group has-feedback" id="phone">
                <input type="text" class="form-control" aria-describedby="inputSuccess2Status" placeholder="手机号"
                       name="phone">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <p></p>
            </div>
            {#            邮箱#}
            <div class="form-group has-feedback" id="email">
                <input type="text" class="form-control" aria-describedby="inputSuccess2Status" placeholder="邮箱"
                       name="email">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <p class="text"></p>
            </div>
            {#            <input type="submit" value="注册">#}
            <button type="button" class="btn btn-primary" id="subButton"> 注册</button>


        </form>
    </div>
</div>
<div class="bot">
    <div class="main">
        <div>
            <a href="">关于我们</a>
            <a href="">联系我们</a>
            <a href="">加盟合作</a>
            <a href="">诚征英才</a>
            <a href="">友情链接</a>
        </div>
        <div>
            <p>上海百联全渠道电子商务有限公司 版权所有 | 沪ICP备15028847号</p>
            <p>联系地址：上海市普陀区真光路1258号百联中环广场6楼 | 联系电话：021-52629933 | 咨询热线：400-900-8800</p>
            <p>本企业已通过ISO9001:2000 质量管理体系标准认证 | 认证注册号：04206Q10079ROM | 认可注册号：CNAB042-Q | 增值电信业务经营许可证：沪B2-20100062
                97.33</p>
        </div>
    </div>
</div>
</body>
</html>
